<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="murph.ie.keepitlocal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="murph.ie.food_drink.FoodNDrink"
            android:label="@string/title_activity_food_ndrink"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="murph.ie.food_drink.FruitNVeg"
            android:label="@string/title_activity_fruit_nveg"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>